[Unit]
Description=ELBOT Web Interface
After=network.target

[Service]
Type=simple
User=__USER__
Group=__USER__
WorkingDirectory=__WORKDIR__
ExecStart=__WORKDIR__/venv/bin/gunicorn -b 0.0.0.0:8080 -w 2 web.app:app
Restart=on-failure
EnvironmentFile=__WORKDIR__/.env
Environment=FLASK_ENV=production

[Install]
WantedBy=multi-user.target
