[Unit]
Description=ELBOT Web Interface
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/alex/ELBOT
ExecStart=/home/alex/ELBOT/venv/bin/gunicorn -b 0.0.0.0:8080 -w 2 web.app:app
Restart=on-failure
EnvironmentFile=/home/alex/ELBOT/.env
# Add environment variable for development/production
Environment=FLASK_ENV=production

[Install]
WantedBy=multi-user.target
