[Unit]
Description=Lavalink Audio Service
After=network.target

[Service]
Type=simple
WorkingDirectory=__ROOT_DIR__/lavalink
ExecStart=__ROOT_DIR__/scripts/run.sh lavalink start
ExecStop=__ROOT_DIR__/scripts/run.sh lavalink stop
EnvironmentFile=__ROOT_DIR__/.env
Restart=on-failure

[Install]
WantedBy=multi-user.target
